<html>
<head>
	<title> Créer un potin</title>
</head>
<body>
	<h1> Créer un potin</h1><hr>
	<p> Balance ton potin via la formulaire ci-dessous</p>
	<form action='/gossips/new/' method='POST'>
		Ton nom : <input type="text" name="gossip_author"/><br/>
		Balance ton potin : <input type="text" name="gossip_content"/><br/>
		<input type="submit"/>
	</form>
</body>
</html>